@import '../_utils/_imports';

.app {
  background-color: $color-bg-dark;
  color: $color-bg-light;
  transition: background-color .12s ease-in-out, color .12s linear;

  &_body {
    @include calc(min-height, '100vh - #{pxToRem(48)}', null);
    max-width: pxToRem(1440);
    margin: pxToRem(48) auto 0;
    padding: pxToRem(30) pxToRem(8);
    transition: height .12s ease-in-out, padding .12s ease-in-out;
    will-change: contents;
    width: 100%;
  }

  @media(min-width: pxToRem(480)) {}

  @media(min-width: pxToRem(992)) {
    &_body {
      @include calc(min-height, '100vh - #{pxToRem(80)}', null);
      margin-top: pxToRem(80);
      padding: pxToRem(60) pxToRem(30);
    }
  }
}
