@import '../_utils/_imports';

.cardPreview {
  margin-top: pxToEm(48);

  &_boxImg {
    display: inline-block;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    &_img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &_body {
    color: $color-white;
    display: block;
    padding: pxToRem(10) pxToRem(15) pxToRem(20);
    text-decoration: none;

    &_grid {}

    &_title {
      font-size: pxToRem(18);
      margin-bottom: pxToRem(20);
    }

    &_list {
      font-size: pxToRem(14);
      font-weight: 400;
      list-style: none;
      margin: 0 0 pxToRem(30);
      padding: 0;

      &_item {
        margin-bottom: pxToRem(16);
      }
    }
  }

  @media(min-width: pxToRem(568)) {
    &_body {
      display: inline-block;

      &_title {
        font-size: pxToRem(20);
        margin-bottom: pxToRem(48);
      }

      &_grid {
        @include flexbox-container(flex, null, wrap, space-between, null, null);
      }

      &_list {
        display: inline-block;
        @include calc(width, '(100% - #{pxToRem(20)}) / 2', null);
      }
    }
  }

  @media(min-width: pxToRem(692)) {
    &_imgBox {
      display: inline-block;
      min-height: pxToRem(120);
    }

    &_body {
      padding: pxToRem(15) pxToRem(20) pxToRem(30);
    }
  }

  @media(min-width: pxToRem(768)) {
    @include flexbox-container(flex, null, null, space-between, center, center);

    &_boxImg {
      padding-top: 32.25%;
      @include calc(width, '(100% - #{pxToRem(40)}) / 2', null);
    }

    &_body {
      width: 50%;

      &_title {
        font-size: pxToRem(32);
        margin-bottom: pxToRem(48);
      }
    }
  }

  @media(min-width: pxToRem(992)) {
    &_body {
      &_list {
        font-size: pxToRem(18);
      }
    }
  }
}
