$base-fontsize: 16;

$color-bg-dark: rgba(33, 46, 55, 1);
$color-bg-light: rgba(250, 250, 250, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-dark: rgba(43, 55, 67, 1);
$color-gray: rgba(249, 249, 249, 1);
$color-dark-gray: rgba(29, 42, 51, 1);
