@import '../_utils/_imports';

.theme--light {
  background-color: $color-bg-light;
  color: $color-bg-dark;

  .header {
    background-color: $color-white;
    box-shadow: 0 0 pxToRem(4) 0 $color-dark-gray;
  }

  .cardCountry {
    background-color: $color-white;
    box-shadow: 0 0  pxToRem(4) darken($color-gray, 25%);

    &_imgBox {
      box-shadow: 0 0 pxToRem(4) darken($color-gray, 25%);
    }

    &_body {
      color: $color-dark;
    }
  }
}