@import '../_utils/_imports';

.theme--light {
  background-color: $color-bg-light;
  color: $color-bg-dark;

  .header {
    background-color: $color-white;
    box-shadow: 0 0 pxToRem(4) 0 $color-dark-gray;
  }
}